{% extends "miniPress.skeleton.twig" %}

{% block title %} Ajouter compte éditeur {% endblock %}

{% block minipress %}

<form method="post" action="{{ url_for('addEditorPost') }}">
    <input type="hidden" name="csrf_token" id="csrf_token" value="{{ token }}">
    <h2>Ajouter un utilisateur</h2>

    {% if error is defined %}
        <p class="error">{{ error }}</p>
    {% endif %}
    {% if success is defined %}
        <p class="success">{{ success }}</p>
    {% endif %}

    <label for="email">email</label>
    <input type="text" id="email" name="email"><br>

    <label for="password">Mot de passe</label>
    <input type="password" id="password" name="password"><br>

    <label for="name">Nom</label>
    <input type="text" id="name" name="name"><br>

    <button type="submit">Ajouter un compte éditeur</button>
</form>

{% endblock %}