{% extends "miniPress.skeleton.twig" %}

{% block title %}Création d'un article{% endblock %}

{% block minipress %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <form method="POST" action="{{ createdArticle }}" class="my-4">
                    <h2 class="mt-4 mb-4">Création d'un article</h2>

                    <input type="hidden" name="csrf_token" id="csrf_token" value="{{ token }}">

                    <div class="form-group">
                        <label for="title">Titre</label>
                        <input type="text" class="form-control" id="title" name="title" required>
                    </div>
                    <div class="form-group">
                        <label for="summary">Résumé</label>
                        <textarea class="form-control" id="summary" name="summary" rows="3" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="content">Contenu</label>
                        <textarea class="form-control" id="content" name="content" rows="6" required></textarea>
                    </div>

                    <div class="form-group">
                        <label for="category">Catégorie</label>
                        <select class="form-control" id="category" name="category" required>
                            {% for category in categories %}
                                <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>


                    <button type="submit" class="btn btn-primary mt-3">Publier</button>

                </form>
            </div>
        </div>
    </div>
{% endblock %}
